{#{% from 'index.jinja2' import input %}#}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .bg {
            color: blue;
            font-family: "Courier New", Courier, monospace;
            font-size: 40px;
            font-weight:bold;
        }
    </style>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body>


<span class="color">welcome to {{info.webserver}}! <br>
    this is not {{info.other_server.0}}/{{info.other_server.1}}...
</span>


</body>
</html>